<div id="aboutMe" style="margin: 0; position: absolute; top: 0%;"> </div>
<div class="container">
    <div class="row box">
        <div class="col-sm">
            <h3>Ofelia Cocucci</h3>
            <h5 style="color: rgba(255, 255, 255, 0.884);">Full-Stack Software Developer</h5>
            <div>
                <button class="btn btn-outline-primary" style="border-radius: 10em;"  onclick="window.open('./../../assets/pdf/CV-Ofelia-Cocucci-2021.pdf', '_blank', 'fullscreen=yes'); return false;">View Resume</button>
                <i class="lni lni-linkedin-original icon" onclick="window.open('https://www.linkedin.com/in/ofelia-cocucci/') "></i>
                <i class="lni lni-github-original icon"  onclick="window.open('https://github.com/Of3lia') "></i>
            </div>
             <hr style="border: 1px solid white; max-width: 50em; ">

             <table style="width:100%; max-width: 40em;"> 
                <tr>
                  <th>Name:</th>
                  <td>Ofelia Cocucci</td>
                </tr>
                <tr>
                  <th>Email</th>
                  <td>ofeliacocucci@outlook.com</td>
                </tr>
                <tr>
                  <th>Location</th>
                  <td>Barcelona</td>
                </tr>
              </table>
              
        </div>

        <div col-sm style="margin: auto;">
            <img src="./../../assets/img/IMG_20190531_193506.jpg" alt="" style="width: 15em; border-radius: 100em; margin: auto;" >
            <div id="skills"></div>
        </div>
    </div>
</div>