<div class="container">
    <div class="box">
        <h4 style="margin: auto; text-align: center;">Experience</h4>
        <div class="container"> 
            <div class="row" style="border-bottom: 2px solid white; margin-bottom: .5em;">
                <div class="col-sm-2"><h5>Company Name</h5></div>
                <div class="col-sm-2"><h5>Role</h5></div>
                <div class="col-sm-5"><h5>Description</h5></div>
                <div class="col-sm-1"><h5>Duration</h5></div>
                <!-- <div class="col-sm-2"><h5>Institution</h5></div> -->
                <div class="col-sm-1"><h5></h5></div>
            </div>
            <div class="row" style="padding: 1em;">
                <div class="col-sm-2"><b>QShips</b></div>
                <div class="col-sm-2">Full Stack Web Developer</div>
                <div class="col-sm-5">Im currently doing a collaboration work with QShips in their project "tasainmeubles.com". My main role is to develop an hybrid progressive web app (PWA)
                    for real estate appraisal. Im working together with a team of engenieers that coordinate and develop this and other projects.
                </div>
                <div class="col-sm-2">10/2020 - Present.</div>
                  <div class="col-sm-1" style="margin: auto;"><button class="btn btn-outline-primary" style="border-radius: 10em;" onclick="window.open('https://tasainmuebles.com/') ">Link</button></div>
              </div>
        <div>
        <div id="projects"></div>
    </div>
</div>