<div class="container">
    <div class="box">
        <h4 style="margin: auto; text-align: center;">Projects</h4>
        <div class="container"> 
            <div class="row" style="border-bottom: 2px solid white; margin-bottom: .5em;">
                <div class="col-sm-2"><h5>Project Name</h5></div>
                <div class="col-sm-4"><h5>Description</h5></div>
                <div class="col-sm-4"><h5>Used Tools</h5></div>
                <div class="col-sm-1"><h5></h5></div>
            </div>
            <div class="row" style="padding: 1em;">
              <div class="col-sm-2"><b>Ofistore ERP</b></div>
              <div class="col-sm-4">Online store with customers, employees, admins, statistics, order management and deliver, etc. Both the Back-End and Front-End are separatedly hosted in Azure.</div>
              <div class="col-sm-4">ASP.NET Core 3.1, Angular2, Bootstrap, HTML, Azure SQL, Json Web Tokens, Repository Pattern, Entity Framework Core, CORS.</div>
              
                <div class="col-sm-1" style="margin: auto;"><button class="btn btn-outline-primary" style="border-radius: 10em;" onclick="window.open('https://ofistore.azurewebsites.net/') ">Link</button></div>
            </div>
            <div class="row" style="padding: 1em;">
                <div class="col-sm-2"><b>Shiba Adventure</b></div>
                <div class="col-sm-4">This is a videogame, where i put a multidisciplinary effort to make graphics, music, add-ons, game design, game mechanics, programming, deployment, release in Google Playstore.</div>
                <div class="col-sm-4">Unity, C#, Google Developers Platform, Google Ads, Piskel, Garage Band.</div>
                
                  <div class="col-sm-1" style="margin: auto;"><button class="btn btn-outline-primary" style="border-radius: 10em;" onclick="window.open('https://play.google.com/store/apps/details?id=com.Sashfel.ShibaAdventure') ">Link</button></div>
              </div>
              <div class="row" style="padding: 1em;">
                  <div class="col-sm-2"><b>Ofelia Projects</b></div>
                  <div class="col-sm-4">In this site I have a compilation of my most important projects related to videogame development, and graphics design. Here you can see a 3D Archer Game, a Tower Defense Multiplayer Attempt, Ta-te-ti, Roulette, Shiba Adventure and others. </div>
                  <div class="col-sm-4">Wordpress, Inkscape, infinityfree.net</div>
                  <div class="col-sm-1" style="margin: auto;"><button class="btn btn-outline-primary" style="border-radius: 10em;" onclick="window.open('https://ofeliaprojects.epizy.com/') ">Link</button></div>
                </div>
          </div>
        <div>
        <div id="studies"></div>
    </div>
</div>