<div class="container">
    <div class="row box">
        <div class="col-sm">
            <h4 style="margin: auto; text-align: center;">Front-End</h4>
            <table style="width:100%;"> 
                <tr>
                  <th>HTML</th>
                  <td>
                    <div class="progress">
                        <div class="progress-bar"  style="width: 80%" ></div>
                      </div>
                  </td>
                </tr>
                <tr>
                  <th>CSS</th>
                  <td>
                    <div class="progress">
                        <div class="progress-bar"  style="width: 60%" ></div>
                      </div>
                  </td>
                </tr>
                <tr>
                  <th>Bootstrap</th>
                  <td>
                    <div class="progress">
                        <div class="progress-bar"  style="width: 80%" ></div>
                      </div>
                  </td>
                </tr>
                <tr>
                  <th>Javascript</th>
                  <td>
                    <div class="progress">
                        <div class="progress-bar"  style="width: 85%" ></div>
                      </div>
                  </td>
                </tr>
                <tr>
                  <th>Typescript</th>
                  <td>
                    <div class="progress">
                        <div class="progress-bar"  style="width: 65%" ></div>
                      </div>
                  </td>
                </tr>
                <tr>
                  <th>Angular 2</th>
                  <td>
                    <div class="progress">
                        <div class="progress-bar"  style="width: 70%" ></div>
                      </div>
                  </td>
                </tr>
              </table>
        </div>
        <div class="col-sm" style="border-right: 2px solid white; border-left: 2px solid white;">
          <h4 style="margin: auto; text-align: center;">Back-End</h4>
            <table style="width:100%; max-width: 40em;"> 
              <tr>
                <th>C#:</th>
                <td>
                  <div class="progress">
                    <div class="progress-bar"  style="width: 90%" ></div>
                  </div>
                </td>
              </tr>
              <tr>
                <th>ASP.NET Core:</th>
                <td>
                  <div class="progress">
                    <div class="progress-bar"  style="width: 75%" ></div>
                  </div>
                </td>
              </tr>
              <tr>
                <th>LINQ:</th>
                <td>
                  <div class="progress">
                    <div class="progress-bar"  style="width: 70%" ></div>
                  </div>
                </td>
              </tr>
              <tr>
                <th>EFCore:</th>
                <td>
                  <div class="progress">
                    <div class="progress-bar"  style="width: 75%" ></div>
                  </div>
                </td>
              </tr>
              <tr>
                <th>PHP:</th>
                <td>
                  <div class="progress">
                    <div class="progress-bar"  style="width: 55%" ></div>
                  </div>
                </td>
              </tr>
              </table>
        </div>
        <div class="col-sm">
          <h4 style="margin: auto; text-align: center;">Others</h4>
            <table style="width:100%; max-width: 40em;"> 
              <tr>
                <th>Unity</th>
                <td>
                  <div class="progress">
                    <div class="progress-bar"  style="width: 90%" ></div>
                  </div>
                </td>
              </tr>
              <tr>
                <th>Mysql</th>
                <td>
                  <div class="progress">
                    <div class="progress-bar"  style="width: 85%" ></div>
                  </div>
                </td>
              </tr>
              <tr>
                <th>SQL Server</th>
                <td>
                  <div class="progress">
                    <div class="progress-bar"  style="width: 60%" ></div>
                  </div>
                </td>
              </tr>
              <tr>
                <th>Azure SQL</th>
                <td>
                  <div class="progress">
                    <div class="progress-bar"  style="width: 30%"></div>
                  </div>
                </td>
              </tr>
              <tr>
                <th>Azure</th>
                <td>
                  <div class="progress">
                    <div class="progress-bar"  style="width: 40%"></div>
                  </div>
                </td>
              </tr>
              </table>
        </div>
    </div>
    <div id="projects"></div>
</div>