<div class="container box">
    <div class="row">
        <div class="col-sm">
            <h4 style="margin: auto; text-align: center;">Front-End</h4>
            <table style="width:100%;"> 
                <tr>
                  <th>HTML</th>
                  <td>
                    <div class="progress">
                        <div class="progress-bar"  style="width: 80%" ></div>
                      </div>
                  </td>
                </tr>
                <tr>
                  <th>CSS</th>
                  <td>
                    <div class="progress">
                        <div class="progress-bar"  style="width: 60%" ></div>
                      </div>
                  </td>
                </tr>
                <tr>
                  <th>Bootstrap</th>
                  <td>
                    <div class="progress">
                        <div class="progress-bar"  style="width: 75%" ></div>
                      </div>
                  </td>
                </tr>
                <tr>
                  <th>Javascript</th>
                  <td>
                    <div class="progress">
                        <div class="progress-bar"  style="width: 85%" ></div>
                      </div>
                  </td>
                </tr>
                <tr>
                  <th>Typescript</th>
                  <td>
                    <div class="progress">
                        <div class="progress-bar"  style="width: 75%" ></div>
                      </div>
                  </td>
                </tr>
                <tr>
                  <th>Angular 2</th>
                  <td>
                    <div class="progress">
                        <div class="progress-bar"  style="width: 80%" ></div>
                      </div>
                  </td>
                </tr>
                <tr>
                  <th>PWA</th>
                  <td>
                    <div class="progress">
                        <div class="progress-bar"  style="width: 65%" ></div>
                      </div>
                  </td>
                </tr>
                <tr>
                  <th>Razor</th>
                  <td>
                    <div class="progress">
                        <div class="progress-bar"  style="width: 60%" ></div>
                      </div>
                  </td>
                </tr>
                <tr>
                  <th>Ionic</th>
                  <td>
                    <div class="progress">
                        <div class="progress-bar"  style="width: 30%" ></div>
                      </div>
                  </td>
                </tr>
              </table>
        </div>
        <div class="col-sm" style="border-right: 2px solid white; border-left: 2px solid white;">
          <h4 style="margin: auto; text-align: center;">Back-End</h4>
            <table style="width:100%; max-width: 40em;"> 
              <tr>
                <th>C#</th>
                <td>
                  <div class="progress">
                    <div class="progress-bar"  style="width: 90%" ></div>
                  </div>
                </td>
              </tr>
              <tr>
                <th>ASP.NET Core</th>
                <td>
                  <div class="progress">
                    <div class="progress-bar"  style="width: 85%" ></div>
                  </div>
                </td>
              </tr>
              <tr>
                <th>LINQ</th>
                <td>
                  <div class="progress">
                    <div class="progress-bar"  style="width: 80%" ></div>
                  </div>
                </td>
              </tr>
              <tr>
                <th>EFCore</th>
                <td>
                  <div class="progress">
                    <div class="progress-bar"  style="width: 85%" ></div>
                  </div>
                </td>
              </tr>
              <tr>
                <th>PHP</th>
                <td>
                  <div class="progress">
                    <div class="progress-bar"  style="width: 55%" ></div>
                  </div>
                </td>
              </tr>
              <tr>
                <th>Postman</th>
                <td>
                  <div class="progress">
                    <div class="progress-bar"  style="width: 75%" ></div>
                  </div>
                </td>
              </tr>
              <tr>
                <th>Serilog</th>
                <td>
                  <div class="progress">
                    <div class="progress-bar"  style="width: 55%" ></div>
                  </div>
                </td>
              </tr>
              <tr>
                <th>Identity</th>
                <td>
                  <div class="progress">
                    <div class="progress-bar"  style="width: 65%" ></div>
                  </div>
                </td>
              </tr>
              <tr>
                <th>Firebase</th>
                <td>
                  <div class="progress">
                    <div class="progress-bar"  style="width: 25%" ></div>
                  </div>
                </td>
              </tr>
              </table>
        </div>
        <div class="col-sm">
          <h4 style="margin: auto; text-align: center;">Others</h4>
            <table style="width:100%; max-width: 40em;"> 
              <tr>
                <th>Unity</th>
                <td>
                  <div class="progress">
                    <div class="progress-bar"  style="width: 95%" ></div>
                  </div>
                </td>
              </tr>
              <tr>
                <th>MySQL</th>
                <td>
                  <div class="progress">
                    <div class="progress-bar"  style="width: 85%" ></div>
                  </div>
                </td>
              </tr>
              <tr>
                <th>SQL Server</th>
                <td>
                  <div class="progress">
                    <div class="progress-bar"  style="width: 60%" ></div>
                  </div>
                </td>
              </tr>
              <tr>
                <th>Azure SQL</th>
                <td>
                  <div class="progress">
                    <div class="progress-bar"  style="width: 45%"></div>
                  </div>
                </td>
              </tr>
              <tr>
                <th>AZURE</th>
                <td>
                  <div class="progress">
                    <div class="progress-bar"  style="width: 40%"></div>
                  </div>
                </td>
              </tr>
              <tr>
                <th>Xamarin</th>
                <td>
                  <div class="progress">
                    <div class="progress-bar"  style="width: 50%"></div>
                  </div>
                </td>
              </tr>
              <tr>
                <th>WPF</th>
                <td>
                  <div class="progress">
                    <div class="progress-bar"  style="width: 35%"></div>
                  </div>
                </td>
              </tr>
              <tr>
                <th>Unit Testing</th>
                <td>
                  <div class="progress">
                    <div class="progress-bar"  style="width: 40%"></div>
                  </div>
                </td>
              </tr>
              <tr>
                <th>MVC</th>
                <td>
                  <div class="progress">
                    <div class="progress-bar"  style="width: 45%"></div>
                  </div>
                </td>
              </tr>
              </table>
        </div>
    </div>
    <div class="row" style="margin-top: 1em; border-top: 1px solid white;">
      <h4 class="col-sm-2">And More:</h4>
      <div class="col-sm"> <p>Service-Workers, IndexedDb, Responsive Design Patterns,
         LightHouse, ML.NET, ProBuilder, INKSCAPE Vector Graphics, Synfig.</p></div>
    </div>
    <div id="experience"></div>
</div>