<div class="container">
    <div class="box">
        <h4 style="margin: auto; text-align: center;">Studies</h4>
        <div class="container"> 
            <div class="row" style="border-bottom: 2px solid white; margin-bottom: .5em;">
                <div class="col-sm-2"><h5>Course Name</h5></div>
                <div class="col-sm-2"><h5>Contents</h5></div>
                <div class="col-sm-2"><h5>Duration</h5></div>
                <div class="col-sm-2"><h5>Date Ended</h5></div>
                <div class="col-sm-2"><h5>Institution</h5></div>
                <div class="col-sm-1"><h5></h5></div>
            </div>
            <div class="row" style="padding: 1em;">
                <div class="col-sm-2"><b>.NET Backend Development</b></div>
                <div class="col-sm-2">.NET Core, Angular 2, Javascript, Typescript, SQL, Linq, SOLID, Scrum, Git</div>
                <div class="col-sm-2">800 hours.</div>
                <div class="col-sm-2">September 2020.</div>
                <div class="col-sm-2">IT Academy, Barcelona</div>
                  <div class="col-sm-1" style="margin: auto;"><button class="btn btn-outline-primary" style="border-radius: 10em;" onclick="window.open('https://cibernarium.barcelonactiva.cat/es/it-academy') ">Link</button></div>
              </div>
              <div class="row" style="padding: 1em;">
                <div class="col-sm-2"><b>Game Development with Unity 3D and C#</b></div>
                <div class="col-sm-2">C#, Unity, POO</div>
                <div class="col-sm-2">300 hours.</div>
                <div class="col-sm-2">November 2019.</div>
                <div class="col-sm-2">CIFO Hospitalet, Barcelona</div>
                  <div class="col-sm-1" style="margin: auto;"><button class="btn btn-outline-primary" style="border-radius: 10em;" onclick="window.open('https://cifovirtual.cat/') ">Link</button></div>
              </div>
            <div class="row" style="padding: 1em;">
              <div class="col-sm-2"><b>Multiplatform Web Development</b></div>
              <div class="col-sm-2">HTML, CSS, Javascript, PHP, SQL, Mysql, CMS.</div>
              <div class="col-sm-2">530 hours.</div>
              <div class="col-sm-2">October 2018.</div>
              <div class="col-sm-2">Tadel Formació, Barcelona</div>
                <div class="col-sm-1" style="margin: auto;"><button class="btn btn-outline-primary" style="border-radius: 10em;" onclick="window.open('https://tadelformacion.com/') ">Link</button></div>
            </div>
          </div>
        <div>
        <div id="studies"></div>
    </div>
</div>